@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

}

a {
  @apply text-purple-500;
  @apply font-semibold;
}

h1 {
    @apply text-2xl;
    @apply text-center;
    @apply font-semibold;
    @apply mt-8;
    @apply mb-2;

  }
  h2 {
    @apply text-xl;


    @apply font-semibold;
    @apply mt-8;
  }
  h3 {
    @apply text-lg;


    @apply font-semibold;
    @apply mt-8;
  }

  p {
    @apply: mb-4;
  }

  iframe {

  }

  ul {
    @apply: list-disc;
  }

  li {
    @apply: list-disc;
  }